.question {
  font-size:5vh;
}

.name-input-container {
  margin: 20px;
}
  
.name-input-container h1 {
  font-size: 2rem;
  color: #333;
}

.name-input-container input {
  font-size: 1rem;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  width: 300px;
  max-width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.name-input-container input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.MainPage {
  background-color: #ecf0f1;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

