body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
}

.room-name {
    margin: 3px;
}

.room-name-text {
    font-size: 20px;
    margin: 5px;
    text-align: center;
}

.copy-url-image {
    width: 20px;
    height: 20px;
    display: block;
    margin: 0 auto;
}

.copy-url-copied-confirmation-text {
    text-align: center;
    margin: 4px;
    color: #0056b3;
}

.copy-url-show-tooltip span {
    visibility: hidden;
    width: 120px;
    background-color: #0056b3;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    margin-top: 5px;
    -ms-transform: translateX(-28px);
    transform: translateX(-28px);
}

.copy-url-show-tooltip:hover span {
    visibility: visible;
}

.game-play-area {
    height: 100%;
    width: 100%;
    display: flex;
}