.circular-cursor-small {
    background-color: transparent;
    border: 1px solid black;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    visibility: hidden;
    position: absolute;
}

.circular-cursor-medium {
    background-color: transparent;
    border: 1px solid black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    visibility: hidden;
    z-index: 1;
}

.circular-cursor-large {
    background-color: transparent;
    border: 1px solid black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    visibility: hidden;
    z-index: 1;
}

.drawing-board-container {
    background-color: white;
    height: 100%;
    width: 100%;
    position: relative;
    cursor: none;
}

.drawing-canvas {
    height: 100%;
    width: 100%;
    position: relative;
}

.palette {
    position: absolute;
    bottom: 5px;
    margin: 0 auto;
    left: 0;
    background: #e0e4e4;
    right: 0;
    width: 32%;
    height: 15%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    cursor: auto;
}

.draw-icon-background-unselected {
    height: 40px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    position: relative;
    margin: auto;
}

.draw-icon-background-selected {
    height: 40px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    position: relative;
    border-radius: 50%;
    position: relative;
    border: 3px solid black;
    margin: auto;
}


.draw-icon {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.palette-icon-description {
    margin-top: 5px;
    margin-bottom: 0px;
    color: black;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 600;
    text-align: center;
}


.erase-icon-background-unselected {
    height: 40px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    position: relative;
    margin: auto;
}

.erase-icon-background-selected {
    height: 40px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    position: relative;
    border: 3px solid black;
    margin: auto;
}

.erase-icon {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.clear-canvas-background {
    height: 40px;
    width: 40px;
    margin: auto;
    background-color: #bbb;
    border-radius: 50%;
    position: relative;
}


.clear-canvas-icon {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 60%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.color-picker-button-border {
    width: 35x;
    height: 35px;
    border: double 5px transparent;
    border-radius: 50%;
    background-image: linear-gradient(white, white),
        linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    position: relative;
    margin: auto;
    /* 
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    border: 3px solid black;
    position: relative; */
}

.black {
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 50%;
    position: relative;
}

.gray {
    height: 25px;
    width: 25px;
    background-color: rgb(87, 87, 87);
    border-radius: 50%;
    position: relative;
}

/* .light-gray {
    height: 20px;
    width: 20px;
    background-color: rgb(160, 160, 160);
    border-radius: 50%;
    position:relative;
} */

.purple {
    height: 25px;
    width: 25px;
    background-color: rgb(156, 39, 176);
    border-radius: 50%;
    position: relative;
}

/* .light-blue {
    height: 20px;
    width: 20px;
    background-color: rgb(157, 175, 255);
    border-radius: 50%;
    position:relative;
} */


.blue {
    height: 25px;
    width: 25px;
    background-color: rgb(42, 75, 215);
    border-radius: 50%;
    position: relative;
}

.teal {
    height: 25px;
    width: 25px;
    background-color: rgb(41, 208, 208);
    border-radius: 50%;
}

/* .light-green {
    height: 20px;
    width: 20px;
    background-color: rgb(129, 197, 122);
    border-radius: 50%;
} */

.green {
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 50%;
}

/* .bright-green {
    height: 20px;
    width: 20px;
    background-color: rgb(198, 255, 0);
    border-radius: 50%;
} */

.yellow {
    height: 25px;
    width: 25px;
    background-color: yellow;
    border-radius: 50%;
}

.orange {
    height: 25px;
    width: 25px;
    background-color: orange;
    border-radius: 50%;
}

/* .cream {
    height: 20px;
    width: 20px;
    background-color: rgb(233, 222, 187);
    border-radius: 50%;
} */

.brown {
    height: 25px;
    width: 25px;
    background-color: rgb(129, 74, 25);
    border-radius: 50%;
}

/* .pink {
    height: 20px;
    width: 20px;
    background-color: pink;
    border-radius: 50%;
} */

.red {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
}

/* .maroon {
    height: 20px;
    width: 20px;
    background-color: rgb(173, 35, 35);
    border-radius: 50%;
} */