
.current-players-list {
    height: 100%; 
    width: 25%;
    overflow-y: auto;
    padding-bottom: 5px;
    background: white;
    border-right: 1px solid #ddd;
}

.current-player {
    margin-bottom: 10px;
    text-align: center;
}

.current-player div:nth-child(even) {
    background: #ecf0f1;
}